apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: zkip-stark
  namespace: default

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml

commonLabels:
  app: zkip-stark
  managed-by: argocd

